APP_NAME=SIMPLE
APP_ENV=local
APP_KEY=base64:0s/iIgg4k+Rx/GSZh04A5bSptRSAbKF/7ZS66hBMS+c=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_MAIN_DOMAIN=
APP_PORT=8000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=simple
DB_USERNAME=root
DB_PASSWORD=1234

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_ENCRYPTION=null
MAIL_USERNAME=null
MAIL_PASSWORD=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

PHP_LOCALE=es_ES

ROLLBAR_TOKEN=

RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=

BASE_SERVICE=http://localhost/
CONTEXT_SERVICE=v1/
# Este id de agenda de momento no esta operativo
AGENDA_APP_KEY=1234
RECORDS=5
TIEMPO_CONFIRMACION_CITA=30

JS_DIAGRAM=jsplumb
CONECTOR=Flowchart
MAP_KEY=
ANALYTICS=

SCOUT_DRIVER=elasticsearch
ELASTICSEARCH_INDEX=simple
# host debe considerar puerto, esta config esta en docker-compose.yml
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_HOST=elasticsearch:${ELASTICSEARCH_PORT}


JWT_SECRET=
JWT_API_TOKEN_KEY=
JWT_URL_API_FIRMA=

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER="simple_test"
RABBITMQ_DEFAULT_PASS="quee6go0hi2Poe7chohshieb"
RABBITMQ_QUEUE="simple_test"
RABBITMQ_DEFAULT_VHOST="/simple_test"
DOWNLOADS_MAX_JOBS_PER_USER=1
RABBITMQ_PORT=5672
RABBITMQ_PORT_MANAGER=15672

DESTINATARIOS_CRON=
